*{
    background-color: aqua;
}

h1{
    color: blueviolet;
    text-align: center;
}

#trickyHead{
    width: 500px;
    height: 500px;
    margin: auto;
    display: block;
}

.intro{
    text-align: center;
}

.navbar li{
    padding: 10px;
    color: green;
    display: inline-block;
    position: static;
}



#trickyWorks{
    height: 500px;
    width: auto;
}

.navlink{
    text-decoration: none;
    color: green;
}

.navlink:hover{
    color: red;
}

h2{
    background-color: pink;
}